<table class="table table-bordered">
  <thead>
    <tr>
      <th>Blog name</th>
      <th>Content</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @blogs.each do |blog| %>
      <tr>
        <td><%= blog.blog_name %></td>
        <td><%= blog.content%></td>
        <td><%= link_to 'Show', blog %></td>
        <td><%= link_to 'Edit', edit_blog_path(blog) %></td>
        <td><%= button_to 'Destroy', blog, method: :delete, data: {
           confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
