<% provide(:title, 'Sign up') %>
<h1 id="sign-up-text-1">Sign up</h1>
  <div class="row">
    <div class="col-md-6 col-md-offset-3 edit-user">
      <%= form_for(resource, as: resource_name, url: registration_path(resource_name), :html => {multipart: :true}) do |f| %>
        <%= devise_error_messages! %>
          <%= f.label :name %>
          <%= f.text_field :name, class: "form-control" %>
          <%= f.label :email %>
          <%= f.email_field :email, autofocus: true, class: "form-control" %>
          <%= f.label :password %>
          <%= f.password_field :password, autocomplete: "off", class: "form-control" %>
          <%= f.label :password_confirmation %>
          <%= f.password_field :password_confirmation, autocomplete: "off", class: "form-control" %>
          <br>
          <%= f.submit "Create my account", class: "btn btn-primary" %>
      <% end %>
      <%= render "devise/shared/links" %>
    </div>
  </div>
