  <header class="navbar navbar-fixed-top navbar-inverse">
         <div class="container">
            <%= link_to "Blog", '#', id: "logo" %>
            <nav>
               <ul class="nav navbar-nav navbar-right">
                  <li><%= link_to "Home", root_path %></li>
                  <li><%= link_to "Help","#" %>
                  <% if user_signed_in? %>
                  <% if current_user.profile == nil %>
                     <li><%= link_to "Create Profile", new_profile_path %></li>
                  <% else %>
                     <li><%= link_to 'View Profile', current_user.profile %></li> 
                  <% end %>
                     <li><%= button_to "Sign Out", destroy_user_session_path, method: :delete, class:"signout" %>
                  <%else%>
                     <li class="nav-item"><%= link_to "Sign Up", new_user_registration_path, class:"nav-link" %>
                     <li class="nav-item"><%= link_to "Sign In", user_session_path, class:"nav-link" %>
                  <% end %>
               </ul>
               <ul class="search">
                  <%= form_tag blogs_path, :method => 'get' do %>
                     <%= text_field_tag :search, params[:search] %>
                     <%= submit_tag "Search" %>
                  <% end %>
               </ul>
            </nav>
         </div>
      </header>
