  <header class="navbar navbar-fixed-top navbar-inverse">
         <div class="container">
            <%= link_to "Blog", '#', id: "logo" %>
            <nav>
               <ul class="nav navbar-nav navbar-right">
                  <li><%= link_to "Home", root_path %></li>
                  <li><%= link_to "Help","#" %>
                  <% if user_signed_in? %>
                     <li class="nav-item"><%= link_to"Profile", users_path, class:"nav-link" %>
                     <li class="nav-item"><%= link_to"Edit Profile", edit_user_registration_path, class:"nav-link" %>
                     <li><%= button_to "Sign Out", destroy_user_session_path, method: :delete, class:"signout" %>
                  <%else%>
                     <li class="nav-item"><%= link_to"Sign Up", new_user_registration_path, class:"nav-link" %>
                     <li class="nav-item"><%= link_to"Sign In", user_session_path, class:"nav-link" %>
                  <% end %>
               </ul>
            </nav>
         </div>
      </header>
